setuptools
disutils
asgiref
attrs
certifi
cffi
charset-normalizer
contourpy
cycler
distlib
Django
django-security
django-user-agents
et-xmlfile
exceptiongroup
idna
lxml
numpy
psutil
pycparser
python-dateutil
pytz
requests
six
sqlparse
tzdata
ua-parser
urllib3
user-agents
wheel
psycopg2-binary
whitenoise
python-dotenv